<?xml version="1.0"?>
<!--
/**
  * CedCommerce
  *
  * NOTICE OF LICENSE
  *
  * This source file is subject to the End User License Agreement (EULA)
  * that is bundled with this package in the file LICENSE.txt.
  * It is also available through the world-wide-web at this URL:
  * https://cedcommerce.com/license-agreement.txt
  *
  * @category    Ced
  * @package     Ced_Betterthat
  * @author      CedCommerce Core Team <connect@cedcommerce.com>
  * @copyright   Copyright CEDCOMMERCE (https://cedcommerce.com/)
  * @license     https://cedcommerce.com/license-agreement.txt
  */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Ced\Betterthat\Helper\Handler">
        <arguments>
            <argument name="filesystem" xsi:type="object">Magento\Framework\Filesystem\Driver\File</argument>
        </arguments>
    </type>
    <type name="Ced\Betterthat\Helper\Logger">
        <arguments>
            <argument name="name" xsi:type="string">Betterthat</argument>
            <argument name="handlers"  xsi:type="array">
                <item name="system" xsi:type="object">Ced\Betterthat\Helper\Handler</item>
            </argument>
        </arguments>
    </type>

    <type name="Magento\Config\Model\Config">
        <plugin name="Betterthat_admin_system_config_save_plugin"
                type="Ced\Betterthat\Plugin\Config"
                sortOrder="10"
                disabled="false"
        />
    </type>

    <type name="Magento\Framework\View\Asset\Minification">
        <plugin name="Betterthat-exclude" type="Ced\Betterthat\Plugin\ExcludeFilesFromMinification" />
    </type>

    <!-- <preference for="Magento\Config\Model\Config" type="Ced\Betterthat\Model\Adminhtml\Config\Data" /> -->
    <preference for="Magento\Config\Model\Config\SchemaLocator" type="Ced\Betterthat\Model\Config\SchemaLocator" />
    <preference for="Ced\Betterthat\Api\OrderInterface" type="Ced\Betterthat\Model\OrderApi"/>
    <preference for="Ced\Betterthat\Api\DeleteProductInterface" type="Ced\Betterthat\Model\DeleteProductApi"/>
    <preference for="Magento\Quote\Model\ChangeQuoteControl" type="Ced\Betterthat\Model\ChangeQuoteControl" />

</config>
