@betterthat-icons-admin__font-name-path: '@{baseDir}Ced_Betterthat/fonts/betterthat';
@betterthat-icons-admin__font-name: 'betterthat';
.lib-font-face(
    @family-name:@betterthat-icons-admin__font-name,
    @font-path: @betterthat-icons-admin__font-name-path,
    @font-weight: normal,
    @font-style: normal
);

.item-betterthat.parent.level-0 > a:before {
    font-family: 'betterthat' !important;
    content: '\e000';
    display: block;
    font-size: 2rem;
    height: 3rem;
}

.cedcommerce.actions-li {
    display: inline;
    list-style: none;
}
.cedcommerce.actions {
    font-size: 0;
}
.cedcommerce.actions.view:before {
    content: url('@{baseDir}Ced_Betterthat/images/actions/view.svg');
    display: inline-block;
    height: 16px;
}
.cedcommerce.actions.delete:before {
    content: url('@{baseDir}Ced_Betterthat/images/actions/delete.svg');
    display: inline-block;
    height: 16px;
}
.cedcommerce.actions.download:before {
    content: url('@{baseDir}Ced_Betterthat/images/actions/download.svg');
    display: inline-block;
    height: 16px;
}
.cedcommerce.actions.edit:before {
    content: url('@{baseDir}Ced_Betterthat/images/actions/edit.svg');
    display: inline-block;
    height: 16px;
}
.cedcommerce.actions.sync:before {
    content: url('@{baseDir}Ced_Betterthat/images/actions/sync.svg');
    display: inline-block;
    height: 16px;
}
.cedcommerce.actions.upload:before {
    content: url('@{baseDir}Ced_Betterthat/images/actions/upload.svg');
    display: inline-block;
    height: 16px;
}
.cedcommerce.actions.validate:before {
    content: url('@{baseDir}Ced_Betterthat/images/actions/validate-circle.svg');
    display: inline-block;
    height: 16px;
}

