<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Framework\View\Element\Message\MessageConfigurationsPool">
        <arguments>
            <argument name="configurationsMap" xsi:type="array">
                <item name="failedOrders" xsi:type="array">
                    <item name="renderer" xsi:type="const">
                        \Magento\Framework\View\Element\Message\Renderer\BlockRenderer::CODE
                    </item>
                    <item name="data" xsi:type="array">
                        <item name="template" xsi:type="string">
                            Ced_Betterthat::message/complexmessage.phtml
                        </item>
                    </item>
                </item>
            </argument>
        </arguments>
    </type>
        <virtualType name="Magento\Catalog\Ui\DataProvider\Product\Form\Modifier\Pool">
            <arguments>
                <argument name="modifiers" xsi:type="array">
                    <item name="sap_product" xsi:type="array">
                        <item name="class" xsi:type="string">
                            Ced\Betterthat\Ui\DataProvider\Product\Form\Modifier\Attributes
                        </item>
                        <item name="sortOrder" xsi:type="number">1000</item>
                    </item>
                </argument>
            </arguments>
        </virtualType>
        <type name="Magento\Backend\Block\Widget\Context">
            <plugin name="add_custom_button_sales_view"
                    type="Ced\Betterthat\Plugin\Block\Adminhtml\Order\View\ButtonList" sortOrder="1"/>
        </type>
</config>
