<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="sales_order_shipment_track_save_after">
        <observer name="Betterthat_shipment_tracking_info" instance="Betterthat\Betterthat\Observer\Shipment" />
    </event>
   <event name="catalog_product_save_before">
        <observer name="Betterthat_product_save_after" instance="Betterthat\Betterthat\Observer\Save" />
    </event>
    <event name="catalog_product_save_after">
        <observer name="Betterthat_product_save_after" instance="Betterthat\Betterthat\Observer\SaveBefore" />
    </event>
    <event name="catalog_category_change_products">
        <observer name="catalog_category_change_products" instance="Betterthat\Betterthat\Observer\SaveCategory" />
    </event>
    <event name="catalog_product_delete_after">
        <observer name="betterthat_item_delete_after" instance="Betterthat\Betterthat\Observer\ProductDeleteAfter" />
    </event>
    <event name="cataloginventory_stock_item_save_after">
        <observer name="ced_betterthat_inventory_save_after"
                  instance="Betterthat\Betterthat\Observer\InventoryChangeObserver"/>
    </event>
    <event name="sales_order_place_after">
        <observer name="ced_betterthat_inventory_afterorderplace"
                  instance="Betterthat\Betterthat\Observer\SalesModelOrderObserver"/>
    </event>
</config>
